//给项目提供scss全局变量

//全局背景颜色
$bg-color: #fff;
//全局字体大小
$font-size: 14px; 
//左侧菜单宽度
$menu-left-width: 200px;
//左侧菜单背景颜色
$menu-background:#001529;
//顶部导航的高度
$menu-top-height: 60px;
//左侧菜单Logo的高度
$menu-logo-height: 60px;
//左侧菜单字体大小
$menu-logo-font-size: 14px;
//左侧菜单最小宽度
$menu-left-min-width: 50px;